@model ScoreTypeCreateOrEditModel
@{
    ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("ScoreType")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useForm = true;
    ViewBag.useDatePicker = true;
    ViewBag.useImageUploud = true;
}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">

                                    <a href="/PlayerScoreEntity/ScoreType/Index">@Localizer.Get("ScoreTypes")</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form" asp-action="CreateOrEdit" enctype="multipart/form-data">
                                    <div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
                                   
                                    <div class="row mb-1">

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Name" class="form-label"></label>
                                                <input asp-for="Name" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"Name{PropertyAttributeConstants.ArLang}"))" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="ScoreTypeLang.Name" class="form-label"></label>
                                                <input asp-for="ScoreTypeLang.Name" class="form-control" placeholder="@Localizer.Get("Enter")  @(Localizer.Get($"Name{PropertyAttributeConstants.EnLang}"))" />
                                                <span asp-validation-for="ScoreTypeLang.Name" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="_365_TypeId" class="form-label"></label>
                                                <input asp-for="_365_TypeId" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"_365_TypeId"))" />
                                                <span asp-validation-for="_365_TypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="_365_EventTypeId" class="form-label"></label>
                                                <input asp-for="_365_EventTypeId" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"_365_EventTypeId"))" />
                                                <span asp-validation-for="_365_EventTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get("HavePoints")</label>
                                                <select class="form-control" asp-for="HavePoints">
                                                    <option value="true">@Localizer.Get("Yes")</option>
                                                    <option value="false">@Localizer.Get("No")</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get("IsEvent")</label>
                                                <select class="form-control" asp-for="IsEvent">
                                                    <option value="true">@Localizer.Get("Yes")</option>
                                                    <option value="false">@Localizer.Get("No")</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Description" class="form-label"></label>
                                                <textarea rows="5" asp-for="Description" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"Description"))" ></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                              
                                    <hr />
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary me-1">@Localizer.Get("Submit")</button>
                                            <button type="reset" class="btn btn-outline-secondary me-1">@Localizer.Get("Reset")</button>
                                          <a asp-action="Index" class="btn btn-warning"> @Localizer.Get("Back") </a>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>
