@{
    string views = (string)ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.Views];

    List<int> viewList = new List<int>();

    if (!string.IsNullOrWhiteSpace(views))
    {
        viewList = views.Split(",").Select(Int32.Parse).ToList();
    }

    string active = ViewBag.Active == null ? this.ViewContext.RouteData.Values["controller"].ToString() : ViewBag.Active;
}
<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-@(ViewBag.light?"light":"dark") menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto">
                <a class="navbar-brand"
                   asp-action="Index" asp-area="Dashboard" asp-controller="Home">
                    <h2 class="brand-text">@Localizer.Get("Dashboard")</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse">
                    <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" navigation-header">
                <span data-i18n="User Interface">@Localizer.Get("Main")</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
            </li>

            @if (viewList.Contains((int)DashboardViewEnum.Account) ||
          viewList.Contains((int)DashboardViewEnum.AccountSubscription) ||
          viewList.Contains((int)DashboardViewEnum.Payment))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='users'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Accounts")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.Account))
                        {
                            <li id="AccountList" class="@(active == DashboardViewEnum.Account.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="Account" asp-area="AccountEntity" asp-action="Index">
                                    <i data-feather='users'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Accounts")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.AccountSubscription))
                        {
                            <li id="AccountSubscriptionList" class="@(active == DashboardViewEnum.AccountSubscription.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="AccountSubscription" asp-area="AccountSubscriptionEntity" asp-action="Index">
                                    <i data-feather='key'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("AccountSubscriptions")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.Payment))
                        {
                            <li id="PaymentsList" class="@(active == DashboardViewEnum.Payment.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="Payment" asp-area="PaymentEntity" asp-action="Index">
                                    <i data-feather='key'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Account Payment")</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.AccountTeam))
            {
                <li id="AccountTeamList" class="@(active ==DashboardViewEnum.AccountTeam.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="AccountTeamEntity"
                       asp-controller="AccountTeam">
                        <i data-feather='users'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("Account Teams")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.AccountTeamGameWeak))
            {
                <li id="AccountTeamGameWeakList" class="@(active ==DashboardViewEnum.AccountTeamGameWeak.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="AccountTeamGameWeakEntity"
                       asp-controller="AccountTeamGameWeak">
                        <i data-feather='users'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("Account Team Game Weaks")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.PrivateLeague))
            {
                <li id="PrivateLeagueList" class="@(active ==DashboardViewEnum.PrivateLeague.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="PrivateLeagueEntity"
                       asp-controller="PrivateLeague">
                        <i data-feather='trending-up'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("PrivateLeagues")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.PlayerTransfer))
            {
                <li id="PlayerTransferList" class="@(active ==DashboardViewEnum.PlayerTransfer.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="AccountTeamEntity"
                       asp-controller="PlayerTransfer">
                        <i data-feather='trending-up'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("PlayerTransfers")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.Team) ||
          viewList.Contains((int)DashboardViewEnum.Player) ||
          viewList.Contains((int)DashboardViewEnum.Standings))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='award'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Teams")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.Team))
                        {
                            <li id="TeamList" class="@(active == DashboardViewEnum.Team.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="Team" asp-area="TeamEntity" asp-action="Index">
                                    <i data-feather='award'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Teams")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.Player))
                        {
                            <li id="PlayerList" class="@(active == DashboardViewEnum.Player.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="Player" asp-area="TeamEntity" asp-action="Index">
                                    <i data-feather='dribbble'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Players")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.Standings))
                        {
                            <li id="StandingsList" class="@(active == DashboardViewEnum.Standings.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="Standings" asp-area="StandingsEntity" asp-action="Index">
                                    <i data-feather='file-text'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Standings")</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.TeamGameWeak) ||
         viewList.Contains((int)DashboardViewEnum.PlayerGameWeak) ||
         viewList.Contains((int)DashboardViewEnum.PlayerGameWeakScore) ||
         viewList.Contains((int)DashboardViewEnum.PlayerSeasonScoreState) ||
         viewList.Contains((int)DashboardViewEnum.PlayerGameWeakScoreState))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='flag'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Teams Points")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.TeamGameWeak))
                        {
                            <li id="TeamGameWeakList" class="@(active == DashboardViewEnum.TeamGameWeak.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="TeamGameWeak" asp-area="SeasonEntity" asp-action="Index">
                                    <i data-feather='flag'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("TeamGameWeaks")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.PlayerGameWeak))
                        {
                            <li id="PlayerGameWeakList" class="@(active == DashboardViewEnum.PlayerGameWeak.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="PlayerGameWeak" asp-area="PlayerScoreEntity" asp-action="Index">
                                    <i data-feather='flag'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("PlayerGameWeaks")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.PlayerMark))
                        {
                            <li id="PlayerMarkList" class="@(active == DashboardViewEnum.PlayerMark.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="PlayerMark" asp-area="PlayerMarkEntity" asp-action="Index">
                                    <i data-feather='flag'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("PlayerMarks")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.PlayerGameWeakScore))
                        {
                            <li id="PlayerGameWeakScoreList" class="@(active == DashboardViewEnum.PlayerGameWeakScore.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="PlayerGameWeakScore" asp-area="PlayerScoreEntity" asp-action="Index">
                                    <i data-feather='dribbble'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("PlayerGameWeakScores")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.PlayerGameWeakScoreState))
                        {
                            <li id="PlayerGameWeakScoreList" class="@(active == DashboardViewEnum.PlayerGameWeakScoreState.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="PlayerGameWeakScoreState" asp-area="PlayerStateEntity" asp-action="Index">
                                    <i data-feather='dribbble'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("PlayerGameWeakScoreStates")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.PlayerSeasonScoreState))
                        {
                            <li id="PlayerSeasonScoreStateList" class="@(active == DashboardViewEnum.PlayerSeasonScoreState.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="PlayerSeasonScoreState" asp-area="PlayerStateEntity" asp-action="Index">
                                    <i data-feather='dribbble'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("PlayerSeasonScoreStates")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.MatchStatisticScore))
                        {
                            <li id="MatchStatisticScoreList" class="@(active == DashboardViewEnum.MatchStatisticScore.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="MatchStatisticScore" asp-area="MatchStatisticEntity" asp-action="Index">
                                    <i data-feather='dribbble'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("MatchStatisticScores")</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.News))
            {
                <li id="NewsList" class="@(active ==DashboardViewEnum.News.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="NewsEntity"
                       asp-controller="News">
                        <i data-feather='trending-up'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("News")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.Sponsor))
            {
                <li id="SponsorList" class="@(active ==DashboardViewEnum.Sponsor.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="SponsorEntity"
                       asp-controller="Sponsor">
                        <i data-feather='star'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("Sponsors")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.Subscription))
            {
                <li id="SubscriptionList" class="@(active == DashboardViewEnum.Subscription.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="SubscriptionEntity"
                       asp-controller="Subscription">
                        <i data-feather="dollar-sign"></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("Subscriptions")
                        </span>
                    </a>
                </li>
            }
            @if (viewList.Contains((int)DashboardViewEnum.PromoCode))
            {
                <li id="PromoCodeList" class="@(active == DashboardViewEnum.PromoCode.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="PromoCodeEntity"
                       asp-controller="PromoCode">
                        <i data-feather='check-circle'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("PromoCodes")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.Notification))
            {
                <li id="NotificationList" class="@(active == DashboardViewEnum.Notification.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="NotificationEntity"
                       asp-controller="Notification">
                        <i data-feather="bell"></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("Notifications")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.Season))
            {
                <li id="SeasonList" class="@(active ==DashboardViewEnum.Season.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="SeasonEntity"
                       asp-controller="Season">
                        <i data-feather='calendar'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("Seasons")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.User))
            {
                <li id="UserList" class="@(active == DashboardViewEnum.User.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="UserEntity"
                       asp-controller="User">
                        <i data-feather='log-in'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("Users")
                        </span>
                    </a>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.DBLogs))
            {
                <li class="@(active ==DashboardViewEnum.DBLogs.ToString()?"active":"") nav-item">
                    <a class="d-flex align-items-center"
                       asp-action="Index" asp-area="LogEntity"
                       asp-controller="DBLogs">
                        <i data-feather='x-circle'></i>
                        <span class="menu-title text-truncate">
                            @Localizer.Get("Logs")
                        </span>
                    </a>
                </li>
            }

            <li class=" navigation-header">
                <span data-i18n="User Interface">@Localizer.Get("Advanced Settings")</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
            </li>

            @if (viewList.Contains((int)DashboardViewEnum.PlayerPosition) ||
               viewList.Contains((int)DashboardViewEnum.FormationPosition))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='award'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Teams Data")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.PlayerPosition))
                        {
                            <li class="@(active == DashboardViewEnum.PlayerPosition.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="PlayerPosition" asp-area="TeamEntity" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("PlayerPositions")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.FormationPosition))
                        {
                            <li class="@(active == DashboardViewEnum.FormationPosition.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="FormationPosition" asp-area="TeamEntity" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("FormationPositions")</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.TeamPlayerType) || viewList.Contains((int)DashboardViewEnum.CommunicationStatus))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='flag'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("AccountTeam Data")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.TeamPlayerType))
                        {
                            <li class="@(active == DashboardViewEnum.TeamPlayerType.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="TeamPlayerType" asp-area="AccountTeamEntity" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("TeamPlayerTypes")</span>
                                </a>
                            </li>
                        }
                        
                        @if (viewList.Contains((int)DashboardViewEnum.CommunicationStatus))
                        {
                            <li class="@(active == DashboardViewEnum.CommunicationStatus.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="CommunicationStatus" asp-area="AccountTeamEntity" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("CommunicationStatuses")</span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.ScoreType))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='flag'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("PlayerScore Data")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.ScoreType))
                        {
                            <li class="@(active == DashboardViewEnum.ScoreType.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="ScoreType" asp-area="PlayerScoreEntity" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("ScoreTypes")</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.ScoreState))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='flag'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("ScoreState Data")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.ScoreState))
                        {
                            <li class="@(active == DashboardViewEnum.ScoreState.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="ScoreState" asp-area="PlayerStateEntity" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("ScoreStates")</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            @if (viewList.Contains((int)DashboardViewEnum.StatisticCategory)
          || viewList.Contains((int)DashboardViewEnum.StatisticScore))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='flag'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("MatchStatistics Data")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.StatisticCategory))
                        {
                            <li class="@(active == DashboardViewEnum.StatisticCategory.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="StatisticCategory" asp-area="MatchStatisticEntity" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("StatisticCategorys")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.StatisticScore))
                        {
                            <li class="@(active == DashboardViewEnum.StatisticScore.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="StatisticScore" asp-area="MatchStatisticEntity" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("StatisticScores")</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }


            @if (viewList.Contains((int)DashboardViewEnum.Country))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='map-pin'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Locations")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.Country))
                        {
                            <li class="@(active == DashboardViewEnum.Country.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="Country" asp-area="Location" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Countries")</span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.Mark))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='map-pin'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("Player Marks")</span>
                    </a>
                    <ul class="menu-content">
                        @if (viewList.Contains((int)DashboardViewEnum.Mark))
                        {
                            <li class="@(active == DashboardViewEnum.Mark.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="Mark" asp-area="PlayerMarkEntity" asp-action="Index">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("Marks")</span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.AppAbout))
            {
                <li class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <i data-feather='info'></i><span class="menu-title text-truncate" data-i18n="Menu Levels">@Localizer.Get("App Info")</span>
                    </a>
                    <ul class="menu-content">

                        @if (viewList.Contains((int)DashboardViewEnum.AppAbout))
                        {
                            <li class="@(active == DashboardViewEnum.AppAbout.ToString()?"active":"")">
                                <a class="d-flex align-items-center" asp-controller="AppAbout" asp-area="AppInfoEntity" asp-action="Details">
                                    <i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Second Level">@Localizer.Get("AppAbout")</span>
                                </a>
                            </li>
                        }



                    </ul>
                </li>
            }

            @if (viewList.Contains((int)DashboardViewEnum.DashboardAdministrator))
            {
                <li class=" navigation-header">
                    <span data-i18n="User Interface">@Localizer.Get("DashboardAdministration")</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </li>


                @if (viewList.Contains((int)DashboardViewEnum.DashboardAdministrator))
                {

                    <li class="@(active ==DashboardViewEnum.DashboardAdministrator.ToString()?"active":"") nav-item">
                        <a class="d-flex align-items-center"
                           asp-action="Index" asp-area="DashboardAdministration"
                           asp-controller="DashboardAdministrator">
                            <i data-feather='shield'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("DashboardAdministrators")
                            </span>
                        </a>
                    </li>
                }

                @if (viewList.Contains((int)DashboardViewEnum.DashboardAccessLevel))
                {

                    <li class="@(active ==DashboardViewEnum.DashboardAccessLevel.ToString()?"active":"") nav-item">
                        <a class="d-flex align-items-center"
                           asp-action="Index" asp-area="DashboardAdministration"
                           asp-controller="DashboardAccessLevel">
                            <i data-feather='key'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("DashboardAccessLevels")
                            </span>
                        </a>
                    </li>
                }

                @if (viewList.Contains((int)DashboardViewEnum.DashboardView))
                {

                    <li class="@(active ==DashboardViewEnum.DashboardView.ToString()?"active":"") nav-item">
                        <a class="d-flex align-items-center"
                           asp-action="Index" asp-area="DashboardAdministration"
                           asp-controller="DashboardView">
                            <i data-feather='grid'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("DashboardViews")
                            </span>
                        </a>
                    </li>
                }

                @if (viewList.Contains((int)DashboardViewEnum.DashboardAdministrationRole))
                {

                    <li class="@(active ==DashboardViewEnum.DashboardAdministrationRole.ToString()?"active":"") nav-item">
                        <a class="d-flex align-items-center"
                           asp-action="Index" asp-area="DashboardAdministration"
                           asp-controller="DashboardAdministrationRole">
                            <i data-feather='settings'></i>
                            <span class="menu-title text-truncate">
                                @Localizer.Get("DashboardAdministrationRoles")
                            </span>
                        </a>
                    </li>
                }

            }

        </ul>
    </div>
</div>
<!-- END: Main Menu-->
