@model PlayerGameWeakScoreFilter
@{
    ViewData["Title"] = Localizer.Get("PlayersGameWeaksScores");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useDatatable = true;
    ViewBag.useModels = true;
    ViewBag.useForm = true;
    ViewBag.useDatePicker = true;
    ViewBag.useCharts = true;


    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];
    ViewBag.emptyLayout = ViewData["ProfileLayOut"] != null ? (bool)ViewData["ProfileLayOut"] : false;

    var row = new PlayerGameWeakScoreDto();
}

<!-- BEGIN: Content-->
<div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-6">
                            <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">@Localizer.Get("Dashboard")</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        @ViewData["Title"]
                                    </li>

                                </ol>


                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="content-body">
                <section id="ajax-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title"> @ViewData["Title"]</h4>
                                </div>
                                
                                <p class="m-2 demo-inline-spacing">
                                    <a class="btn btn-primary me-1" data-bs-toggle="collapse" href="#AdvancedFilter" role="button" aria-expanded="false" aria-controls="AdvancedFilter">
                                        <i data-feather='filter'></i>
                                        @Localizer.Get("Advanced Search")
                                    </a>
    
                                </p>
                                @{
                                    await Html.RenderPartialAsync("../PlayerGameWeakScore/Filter", Model, ViewData);
                                }
                                <div class="card-datatable">
                                    <table class="datatables datatables-ajax table table-responsive table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => row.Id)
                                                    <a id="details" asp-action="Details">
                                                    </a>
                                                    
                                                    @if (accessLevel.DeleteAccess)
                                                    {
                                                        <a id="delete" asp-action="Delete">
                                                        </a>
                                                    }

                                                </th>
                                                <th>@Html.DisplayNameFor(model => row.PlayerGameWeak.Player)</th>
                                                <th>@Html.DisplayNameFor(model => row.ScoreType)</th>
                                                <th>@Html.DisplayNameFor(model => row.Points)</th>
                                                <th>@Html.DisplayNameFor(model => row.Value)</th>
                                                <th>@Html.DisplayNameFor(model => row.FinalValue)</th>
                                                <th>@Html.DisplayNameFor(model => row.GameTime)</th>

                                                <th>
                                                    @Html.DisplayNameFor(model => row.Id)
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

<!-- END: Content-->
@section scripts{
    <script src="~/apis/charts.js"></script>
    <script>

        function LoadTable() {
            var dt_ajax_table = $('.datatables');
            if (dt_ajax_table.length) {
                var dt_ajax = dt_ajax_table.dataTable({
                    // Ajax Filter
                    ajax: {
                        url: '@Url.Action("LoadTable")',
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: function (data) { 
                            data.Fk_Players = $("#Fk_Players").length > 0 ? $("#Fk_Players").val() : null;
                            data.Fk_ScoreTypes = $("#Fk_ScoreTypes").length > 0 ? $("#Fk_ScoreTypes").val() : null;
                            data.Fk_Teams = $("#Fk_Teams").length > 0 ? $("#Fk_Teams").val() : null;
                            data.Fk_Season = $("#Fk_Season").length > 0 ? $("#Fk_Season").val() : @Model.Fk_Season;
                            data.IsEnded = $("#IsEnded").val();
                            data.Fk_GameWeak = $("#Fk_GameWeak").length > 0 ? $("#Fk_GameWeak").val() : @Model.Fk_GameWeak;
                            data.RateFrom = $("#RateFrom").length > 0 ? $("#RateFrom").val() : @Model.RateFrom;
                            data.RateTo = $("#RateTo").length > 0 ? $("#RateTo").val() : @Model.RateTo;
                            data.PointsFrom = $("#PointsFrom").length > 0 ? $("#PointsFrom").val() : @Model.PointsFrom;
                            data.PointsTo = $("#PointsTo").length > 0 ? $("#PointsTo").val() : @Model.PointsTo;
                            return JSON.stringify(data);
                        }
                    },
                                                    
                    // Columns Setups
                    columns: [
                        { data: "id" },
                        { data: "playerGameWeak.player.name" },
                        { data: "scoreType.name" },
                        { data: "points" },
                        { data: "value" },
                        { data: "finalValue" },
                        { data: "gameTime" },
                        { data: "id" },
                    ]
                });
                $("button[type=reset]").on("click", function () {
                    $(".dt-date").each(function () {
                        $(this).val('');
                    })
                });

                $('body').on('submit', '.filter', function () {
                    event.preventDefault();
                    dt_ajax_table.DataTable().draw();
                });


            }
        };

        $(document).ready(function () {
            LoadTable();
        });
    </script>
}
