@model TeamGameWeakDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.emptyLayout = true;
}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalScrollableTitle">@Localizer.Get("TeamGameWeak")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
 
    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">

                <dt class="col-sm-4 fw-bolder mb-1">@Localizer.Get("HomeTeam"):</dt>
                
                <dd class="col-sm-8 mb-1">
                    <a href="/TeamEntity/Team/Profile/@Model.Fk_Home" target="_blank">@Model.Home.Name</a>

                </dd>
                
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.GameWeak.Season):</dt>
                
                <dd class="col-sm-8 mb-1">
                    <a href="/SeasonEntity/Season/Profile/@Model.GameWeak.Fk_Season" target="_blank">@Model.GameWeak.Season.Name</a>
                </dd>
                
                <dt class="col-sm-4 mb-1">
                    <a href="/TeamEntity/Player/Index?Fk_Team=@Model.Fk_Home&Fk_GameWeak=@Model.Fk_GameWeak" target="_blank">@Localizer.Get("Home Players")</a>
                </dt>
                
                <dd class="col-sm-8 mb-1"></dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.HomeScore):</dt>
                <dd class="col-sm-8 mb-1">@Model.HomeScore</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.StartTime):</dt>
                <dd class="col-sm-8 mb-1">@Model.StartTime</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.IsDelayed):</dt>
                <dd class="col-sm-8 mb-1">@(Model.IsDelayed ? Localizer.Get("Yes") : Localizer.Get("No"))</dd>

            </dl>
        </div>
        <div class="col-xl-5 col-12">
            <dl class="row mb-0">

                <dt class="col-sm-4 fw-bolder mb-1">@Localizer.Get("AwayTeam"):</dt>
                <dd class="col-sm-8 mb-1">
                    <a href="/TeamEntity/Team/Profile/@Model.Fk_Away&Fk_GameWeak=@Model.Fk_GameWeak" target="_blank">@Model.Away.Name</a>

                </dd>
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.GameWeak):</dt>
                <dd class="col-sm-8 mb-1">@Model.GameWeak.Name</dd>

                <dt class="col-sm-4 mb-1">
                    <a href="/TeamEntity/Player/Index?Fk_Team=@Model.Fk_Away" target="_blank">@Localizer.Get("Away Players")</a>
                </dt>
                
                <dd class="col-sm-8 mb-1"></dd>
                
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.AwayScore):</dt>
                <dd class="col-sm-8 mb-1">@Model.AwayScore</dd>

                  <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.IsEnded):</dt>
                <dd class="col-sm-8 mb-1">@(Model.IsEnded ? Localizer.Get("Yes") : Localizer.Get("No"))</dd>


            </dl>
        </div>

    </div>

    <hr />
    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedBy):</dt>
                <dd class="col-sm-8 mb-1">@Model.CreatedBy</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedBy):</dt>
                <dd class="col-sm-8 mb-1">@Model.LastModifiedBy</dd>

            </dl>
        </div>
        <div class="col-xl-5 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.CreatedAt</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.LastModifiedAt</dd>
            </dl>
        </div>
    </div>
</div>

