@model TeamCreateOrEditModel
@{
    ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("Team")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useForm = true;
    ViewBag.useDatePicker = true;
    ViewBag.useImageUploud = true;
    bool IsProfile = ViewData["IsProfile"] != null ? (bool)ViewData["IsProfile"] : false;
    int id = ViewData["id"] != null ? (int)ViewData["id"] : 0;

}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    @if (IsProfile)
                                    {
                                        <a href="/TeamEntity/Team/Profile/@id">@Localizer.Get("Team Profile")</a>
                                    }
                                    else
                                    {
                                        <a href="/TeamEntity/Team/Index">@Localizer.Get("Teams")</a>
                                    }
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form" asp-action="CreateOrEdit" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="@IsProfile" />
                                    <div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
                                    <div class="row">
                                        <div class="col-md-6 col-12 d-flex ">
                                            <a href="#" class="me-25">
                                                <img src="@($"{Model.StorageUrl +  Model.ImageUrl}")" class="uploadedAvatar account-upload-img rounded me-50" height="100" width="100">
                                            </a>
                                            <div class="d-flex align-items-end mt-75 ms-1">
                                                <div>
                                                    <label for="account-upload" class="btn btn-sm btn-primary mb-75 me-75 waves-effect waves-float waves-light">@Localizer.Get("Upload Image")</label>
                                                    <input type="file" id="account-upload" class="account-upload" hidden="" name="ImageFile" accept="image/*">
                                                    <button type="button" class="account-reset btn btn-sm btn-outline-secondary mb-75 waves-effect">@Localizer.Get("Reset")</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12 d-flex ">
                                            <a href="#" class="me-25">
                                                <img src="@($"{Model.ShirtStorageUrl + Model.ShirtImageUrl}")" class="uploadedAvatar account-upload-img rounded me-50" height="100" width="100">
                                            </a>
                                            <div class="d-flex align-items-end mt-75 ms-1">
                                                <div>
                                                    <label for="account-upload2" class="btn btn-sm btn-primary mb-75 me-75 waves-effect waves-float waves-light">@Localizer.Get("Upload Cover")</label>
                                                    <input type="file" id="account-upload2" class="account-upload" hidden="" name="ShirtFile" accept="image/*">
                                                    <button type="button" class="account-reset btn btn-sm btn-outline-secondary mb-75 waves-effect">@Localizer.Get("Reset")</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mb-1">

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Name" class="form-label"></label>
                                                <input asp-for="Name" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"Name{PropertyAttributeConstants.ArLang}"))" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="TeamLang.Name" class="form-label"></label>
                                                <input asp-for="TeamLang.Name" class="form-control" placeholder="@Localizer.Get("Enter")  @(Localizer.Get($"Name{PropertyAttributeConstants.EnLang}"))" />
                                                <span asp-validation-for="TeamLang.Name" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="ShortName" class="form-label"></label>
                                                <input asp-for="ShortName" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"ShortName{PropertyAttributeConstants.ArLang}"))" />
                                                <span asp-validation-for="ShortName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="TeamLang.ShortName" class="form-label"></label>
                                                <input asp-for="TeamLang.ShortName" class="form-control" placeholder="@Localizer.Get("Enter")  @(Localizer.Get($"ShortName{PropertyAttributeConstants.EnLang}"))" />
                                                <span asp-validation-for="TeamLang.ShortName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="_365_TeamId" class="form-label"></label>
                                                <input asp-for="_365_TeamId" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"_365_TeamId"))" />
                                                <span asp-validation-for="_365_TeamId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Fk_Season" class="form-label"></label>
                                                <select class="form-control" asp-for="Fk_Season" asp-items="@(new SelectList(ViewData["Season"] as Dictionary<string,string>,"Key","Value"))"></select>
                                                <span asp-validation-for="Fk_Season" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 col-12">
                                            <div class="mb-1">
                                                <label asp-for="IsActive" class="form-label"></label>
                                                <select asp-for="IsActive" class="select2 form-select">
                                                    <option value="true">@Localizer.Get("Yes")</option>
                                                    <option value="false">@Localizer.Get("No")</option>
                                                </select>
                                                <span asp-validation-for="IsActive" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <hr />
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary me-1">@Localizer.Get("Submit")</button>
                                            <button type="reset" class="btn btn-outline-secondary me-1">@Localizer.Get("Reset")</button>
                                            @if (IsProfile)
                                            {
                                                <a asp-action="Profile" asp-route-id="@id" class="btn btn-warning"> @Localizer.Get("Back") </a>
                                            }
                                            else
                                            {
                                                <a asp-action="Index" class="btn btn-warning"> @Localizer.Get("Back") </a>
                                            }

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>
