@model PromoCodeDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.emptyLayout = true;
}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalScrollableTitle">@Localizer.Get("PromoCode")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Name):</dt>
                <dd class="col-sm-8 mb-1">@Model.Name</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.IsActive):</dt>
                <dd class="col-sm-8 mb-1">@(Model.IsActive ? Localizer.Get("Yes") : Localizer.Get("No"))</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.MaxUse):</dt>
                <dd class="col-sm-8 mb-1">@Model.MaxUse</dd>


                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.ExpirationDate):</dt>
                <dd class="col-sm-8 mb-1">@Model.ExpirationDate</dd>



            </dl>
        </div>
        <div class="col-xl-5 col-12">
            <dl class="row mb-0">

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Code):</dt>
                <dd class="col-sm-8 mb-1">@Model.Code</dd>


                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Discount):</dt>
                <dd class="col-sm-8 mb-1">@Model.Discount</dd>


                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.MaxUsePerUser):</dt>
                <dd class="col-sm-8 mb-1">@Model.MaxUsePerUser</dd>



            </dl>
        </div>

    </div>
     <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <span class="badge bg-light-primary">@Html.DisplayNameFor(model => Model.Description)</span>
                </div>
                <br />
                <p>@Model.Description</p>
            </div>
    <hr />
    <div class="row">
        <div class="card-body col-xl-12 col-12">
            <div class="d-flex justify-content-between align-items-start">
                <span class="badge bg-light-primary">@Localizer.Get("Subscriptions")</span>
            </div>
            <br />
            @if (Model.Subscriptions != null && Model.Subscriptions.Any())
            {
                @foreach (var item in Model.Subscriptions)
                {
                    <span class="badge bg-primary">@item.Name</span>
                }
            }
            else
            {
                <p>@Localizer.Get("Not Found")</p>
            }
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-xl-7 col-12">
            <dl class="row mb-0">

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedBy):</dt>
                <dd class="col-sm-8 mb-1">@Model.CreatedBy</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedBy):</dt>
                <dd class="col-sm-8 mb-1">@Model.LastModifiedBy</dd>

            </dl>
        </div>
        <div class="col-xl-5 col-12">
            <dl class="row mb-0">
                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.CreatedAt</dd>

                <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedAt):</dt>
                <dd class="col-sm-8 mb-1">@Model.LastModifiedAt</dd>
            </dl>
        </div>
    </div>
</div>

