@model PlayerGameWeakCreateOrEditModel
@{
    ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("PlayerGameWeak")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useForm = true;
    ViewBag.userFormRepeater = true;


}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/TeamEntity/Player/Profile/@Model.Fk_Player?returnItem=@((int)PlayerProfileItems.PlayerGameWeak)">@Localizer.Get("Player Profile")</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form" asp-action="CreateOrEdit" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="Fk_Player" />
                                    <div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
                                    <br />

                                    <div class="row mb-1">
                                        <div class="col-md-4 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Fk_Season" class="form-label"></label>
                                                <select asp-for="Fk_Season" class="select2 form-select" asp-items="@(new SelectList(ViewData["Season"] as Dictionary<string,string>,"Key","Value"))">
                                                </select>
                                            </div>
                                        </div>
                                        @*<div class="col-md-4 col-12">
            <div class="mb-1">
                <label asp-for="Fk_GameWeak" class="form-label"></label>
                <select asp-for="Fk_GameWeak" class="select2 form-select" asp-items="@(new SelectList(ViewData["GameWeak"] as Dictionary<string,string>,"Key","Value"))">
                </select>
                <span asp-validation-for="Fk_GameWeak" class="text-danger"></span>
            </div>
        </div>*@
                                        <div class="col-md-4 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Ranking" class="form-label"></label>
                                                <input asp-for="Ranking" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"Ranking"))" />
                                                <span asp-validation-for="Ranking" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="mb-1">
                                                <label asp-for="TotalPoints" class="form-label"></label>
                                                <input asp-for="TotalPoints" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"Total Points"))" />
                                                <span asp-validation-for="TotalPoints" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <h3 class="mt-3">@Html.DisplayNameFor(model => model.PlayerGameWeakScores)</h3>
                                        <hr />
                                        <div class="invoice-repeater">
                                            <div data-repeater-list="PlayerGameWeakScores" class="mb-2">
                                                @if (Model.PlayerGameWeakScores != null && Model.PlayerGameWeakScores.Any())
                                                {
                                                    @for (int i = 0; i < Model.PlayerGameWeakScores.Count; i++)
                                                    {
                                                        <div data-repeater-item class="data-repeater mb-2">
                                                            <div class="row d-flex align-items-end">
                                                                <input type="hidden" asp-for="PlayerGameWeakScores[i].Id" class="score-id">

                                                                <div class="col-md-3 col-12">
                                                                    <div class="mb-1">
                                                                        <label class="form-label">@Localizer.Get("Value")</label>
                                                                        <input asp-for="PlayerGameWeakScores[i].Value" class="form-control score-value" placeholder="@Localizer.Get("Enter") @Localizer.Get("Value")">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3 col-12">
                                                                    <div class="mb-1">
                                                                        <label class="form-label">@Localizer.Get("Points")</label>
                                                                        <input asp-for="PlayerGameWeakScores[i].Points" class="form-control score-points" placeholder="@Localizer.Get("Enter") @Localizer.Get("Points")">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3 col-12">
                                                                    <div class="mb-1">
                                                                        <label class="form-label">@Localizer.Get("ScoreType")</label>
                                                                        <select asp-for="PlayerGameWeakScores[i].Fk_ScoreType" class="score-type form-select" asp-items="@(new SelectList(ViewData["ScoreType"] as Dictionary<string,string>,"Key","Value"))">
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 col-12 mb-50">
                                                                    <div class="mb-1">
                                                                        <button class="remove-btn  btn btn-outline-danger text-nowrap px-1" data-repeater-delete
                                                                        type="button">
                                                                            <i data-feather="x" class="me-25"></i>
                                                                            <span>@Localizer.Get("Remove")</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {

                                                    <div data-repeater-item class="data-repeater mb-2">
                                                        <div class="row d-flex align-items-end">
                                                            <input type="hidden" name=".Id" class="score-id">


                                                            <div class="col-md-3 col-12">
                                                                <div class="mb-1">
                                                                    <label class="form-label">@Localizer.Get("Value")</label>
                                                                    <input name=".Value" class="form-control score-value" placeholder="@Localizer.Get("Enter") @Localizer.Get("Value")">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-12">
                                                                <div class="mb-1">
                                                                    <label class="form-label">@Localizer.Get("Points")</label>
                                                                    <input name=".Points" class="form-control score-points" placeholder="@Localizer.Get("Enter") @Localizer.Get("Points")">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3 col-12">
                                                                <div class="mb-1">
                                                                    <label class="form-label">@Localizer.Get("ScoreType")</label>
                                                                    <select name=".Fk_ScoreType" class="score-type form-select" asp-items="@(new SelectList(ViewData["ScoreType"] as Dictionary<string,string>,"Key","Value"))">
                                                                    </select>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-1 col-12 mb-50">
                                                                <div class="mb-1">
                                                                    <button class="remove-btn  btn btn-outline-danger text-nowrap px-1" data-repeater-delete newRepeater
                                                                        type="button">
                                                                        <i data-feather="x" class="me-25"></i>
                                                                        <span>@Localizer.Get("Remove")</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }
                                            </div>


                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <hr />

                                                    <button id="add-new-btn" class="btn btn-icon btn-success" type="button" data-repeater-create>
                                                        <i data-feather="plus" class="me-25"></i>
                                                        <span>@Localizer.Get("Add Score")</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <hr />
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary me-1">@Localizer.Get("Submit")</button>
                                            <button type="reset" class="btn btn-outline-secondary me-1">@Localizer.Get("Reset")</button>
                                            <a asp-action="Profile" asp-controller="Player" asp-area="TeamEntity" asp-route-id="@Model.Fk_Player" asp-route-returnItem="@((int)PlayerProfileItems.PlayerGameWeak)" class="btn btn-warning"> @Localizer.Get("Back") </a>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>
@section scripts
    {
    <script src="~/apis/site.js"></script>
    <script>
        function resetRepeaterData() {
            $(".score-id").last().val('0');
            $(".score-value").last().val('0');
            $(".score-points").last().val('0');

        }
        $(document).ready(function () {
            $('button[data-repeater-delete][newRepeater]').each(function () {
                $(this).click();
            });
            $("#Fk_Season").on("change", function () {
                getGameWeak($("#Fk_GameWeak"), $(this).val(), true);
            });
            $("#add-new-btn").on('click', function () {
                setTimeout(resetRepeaterData, 500)
            });
        });
    </script>
}
