@model List<ChartDto>
@{
    ViewData["Title"] = Localizer.Get("Home");
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.useCharts = true;
    ViewBag.useModels = true;

    string views = (string)ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.Views];

    List<int> viewList = new List<int>();

    if (!string.IsNullOrWhiteSpace(views))
    {
        viewList = views.Split(",").Select(Int32.Parse).ToList();
    }
}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-body">

                            <a id="UpdateStandings" class="btn btn-primary"> @Localizer.Get("Update Standings") </a>
                            <a id="UpdateGames" class="btn btn-primary"> @Localizer.Get("Update Games") </a>

                            <section id="ajax-charts">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="">
                                            <div class="card-body">
                                                <div class="row">

                                                    @if (Model != null && Model.Any())
                                                    {
                                                        <div class="row">
                                                            @foreach (var chart in Model.Where(a => a.Type == ChartTypeEnum.Donut))
                                                            {
                                                                <div class="col-md-4 col-12 mt-2">
                                                                    <div class="">
                                                                        <div class="flex-column align-items-start">
                                                                            <h4 class="card-title mb-75 text-center">@Localizer.Get(chart.Text)</h4>
                                                                        </div>
                                                                        <div class="">
                                                                            <div id="@chart.Key" class="Donut" style="letter-spacing: normal;"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="row">
                                                            @foreach (var chart in Model.Where(a => a.Type == ChartTypeEnum.Column))
                                                            {
                                                                <div class="col-md-12">
                                                                    <div class="card">
                                                                        <div class="card-header flex-column align-items-start">
                                                                            <h4 class="card-title mb-75">@Localizer.Get(chart.Text)</h4>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <div id="@chart.Key" class="Column" style="letter-spacing: normal;"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="row">
                                                            @foreach (var chart in Model.Where(a => a.Type == ChartTypeEnum.Bar))
                                                            {
                                                                <div class="col-md-12">
                                                                    <div class="card">
                                                                        <div class="card-header flex-column align-items-start">
                                                                            <h4 class="card-title mb-75">@Localizer.Get(chart.Text)</h4>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <div id="@chart.Key" class="Bar" style="letter-spacing: normal;"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->
@section scripts {
    <script src="~/apis/charts.js"></script>
    <script>
        $(document).ready(function () {

            LoadCharts();

            $(document).on("click", "#UpdateStandings", function(e) {
             $.ajax({
                 url: '@Url.ActionLink("UpdateStandings", "Home")',
                 method: 'post',
                 success: function(data) {
                     $("#success").modal('show');
                 },
                 error: function (result) {
                     $("#success").modal('show');
                 }
             });
            });

            $(document).on("click", "#UpdateGames", function(e) {
             $.ajax({
                 url: '@Url.ActionLink("UpdateGames", "Home")',
                 method: 'post',
                 success: function(data) {
                     $("#success").modal('show');
                 },
                 error: function (result) {
                     $("#success").modal('show');
                 }
             });
        });

        });
    </script>
}
