@using Entities.EnumData
@model NotificationCreateOrEditModel
@{
    ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("Notifications")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useForm = true;
    ViewBag.useDatePicker = true;
    ViewBag.useImageUploud = true;
    int id = ViewData["id"] != null ? (int)ViewData["id"] : 0;
}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">

                                    <a href="/NotificationEntity/Notification/Index">@Localizer.Get("Notifications")</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form" asp-action="CreateOrEdit" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="OpenValue" />
                                    <div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
                                    <div class="d-flex">
                                        <a href="#" class="me-25">
                                            <img src="@($"{Model.StorageUrl}{Model.ImageUrl}")" class="uploadedAvatar account-upload-img rounded me-50" height="100" width="100">
                                        </a>
                                        <!-- upload and reset button -->
                                        <div class="d-flex align-items-end mt-75 ms-1">
                                            <div>
                                                <label for="account-upload" class="btn btn-sm btn-primary mb-75 me-75 waves-effect waves-float waves-light">@Localizer.Get("Upload Image")</label>
                                                <input type="file" id="account-upload" class="account-upload" hidden="" name="ImageFile" accept="image/*">
                                                <button type="button" class="account-reset btn btn-sm btn-outline-secondary mb-75 waves-effect">@Localizer.Get("Reset")</button>
                                            </div>
                                        </div>
                                        <!--/ upload and reset button -->
                                    </div>
                                    <br />
                                    <div class="row mb-1">

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Title" class="form-label"></label>
                                                <input asp-for="Title" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"Title{PropertyAttributeConstants.ArLang}"))" />
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="NotificationLang.Title" class="form-label"></label>
                                                <input asp-for="NotificationLang.Title" class="form-control" placeholder="@Localizer.Get("Enter")  @(Localizer.Get($"Title{PropertyAttributeConstants.EnLang}"))" />
                                                <span asp-validation-for="NotificationLang.Title" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="Description" class="form-label"></label>
                                                <textarea asp-for="Description" class="form-control" rows="2" placeholder="@Localizer.Get("Enter") @(Localizer.Get($"Description{PropertyAttributeConstants.ArLang}"))"></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="NotificationLang.Description" class="form-label"></label>
                                                <textarea asp-for="NotificationLang.Description" class="form-control" rows="2" placeholder="@Localizer.Get("Enter")  @(Localizer.Get($"Description{PropertyAttributeConstants.EnLang}"))"> </textarea>
                                                <span asp-validation-for="NotificationLang.Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label asp-for="OpenType" class="form-label"></label>
                                                @if (id == 0)
                                                {
                                                    <select asp-for="OpenType" class="form-control">
                                                        @foreach (var openType in (LogicEnumData.NotificationOpenTypeEnum[])Enum.GetValues(typeof(LogicEnumData.NotificationOpenTypeEnum)))
                                                        {
                                                            <option value="@((int)@openType)">@openType</option>
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select disabled asp-for="OpenType" class="form-control">
                                                        @foreach (var openType in (LogicEnumData.NotificationOpenTypeEnum[])Enum.GetValues(typeof(LogicEnumData.NotificationOpenTypeEnum)))
                                                        {
                                                            <option value="@((int)@openType)">@openType</option>
                                                        }
                                                    </select>
                                                    <input type="hidden" asp-for="OpenType">
                                                }
                                                <span asp-validation-for="OpenType" class="text-danger"></span>
                                            </div>
                                        </div>


                                    </div>

                                    <div style="display:none" class="row" id="News_Div">
                                        <div class="col-md-12 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get("News")</label>
                                                <select class="form-control " id="Fk_News" asp-items="@(new SelectList(ViewData["News"] as Dictionary<string,string>,"Key","Value"))">
                                                    <option value="0">@Localizer.Get("Select")</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="display:none" class="row" id="GameWeak_Div">
                                        <div class="col-md-12 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get("GameWeak")</label>
                                                <select class="form-control " id="Fk_GameWeak" asp-items="@(new SelectList(ViewData["GameWeak"] as Dictionary<string,string>,"Key","Value"))">
                                                    <option value="0">@Localizer.Get("Select")</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="display:none" class="row" id="Match_Div">
                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get("GameWeak")</label>
                                                <select class="form-control " id="Fk_GameWeak_Match" asp-items="@(new SelectList(ViewData["GameWeak"] as Dictionary<string,string>,"Key","Value"))">
                                                    <option value="0">@Localizer.Get("Select")</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get("Team")</label>
                                                <select class="form-control " id="Fk_Team_Match" asp-items="@(new SelectList(ViewData["Team"] as Dictionary<string,string>,"Key","Value"))">
                                                    <option value="0">@Localizer.Get("Select")</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get("TeamGameWeak")</label>
                                                <select class="form-control " id="Fk_TeamGameWeak">
                                                    <option value="0">@Localizer.Get("Select")</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="display:none" class="row" id="Palyer_Div">

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get("Team")</label>
                                                <select class="form-control " id="Fk_Team_Player" asp-items="@(new SelectList(ViewData["Team"] as Dictionary<string,string>,"Key","Value"))">
                                                    <option value="0">@Localizer.Get("Select")</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get("Player")</label>
                                                <select class="form-control " id="Fk_Player">
                                                    <option value="0">@Localizer.Get("Select")</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 col-12">
                                            <div class="mb-1">
                                                <label asp-for="SendNotification" class="form-label">@Localizer.Get("Push Notification")</label>
                                                <select asp-for="SendNotification" class="form-control">
                                                    <option value="false">@Localizer.Get("No")</option>
                                                    <option value="true">@Localizer.Get("Yes")</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary me-1">@Localizer.Get("Submit")</button>
                                            <button type="reset" class="btn btn-outline-secondary me-1">@Localizer.Get("Reset")</button>

                                            <a asp-action="Index" class="btn btn-warning"> @Localizer.Get("Back") </a>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>
@section scripts{
    <script src="~/apis/site.js"></script>

    <script>
        $(document).ready(function () {

            $("#OpenType").on('change', function () {
                $("#OpenValue").val('');
                $("#Fk_News").val('0');
                $("#Fk_GameWeak").val('0');
                $("#Fk_Player").val('0');
                $("#Fk_TeamGameWeak").val('0');
                $("#Fk_Team_Player").val('0');
                $("#Fk_Team_Match").val('0');
                $("#Fk_GameWeak_Match").val('0');
                $("#Fk_Player").find('option').not(':first').remove();
                $("#Fk_TeamGameWeak").find('option').not(':first').remove();
                $("#News_Div").css('display','none');
                $("#GameWeak_Div").css('display', 'none');
                $("#Match_Div").css('display', 'none');
                $("#Palyer_Div").css('display', 'none');
               var value =  $("#OpenType").val();

               if(value == @((int)LogicEnumData.NotificationOpenTypeEnum.DeadLine)){
                   $("#GameWeak_Div").css('display', '');
               }

              else if(value == @((int)LogicEnumData.NotificationOpenTypeEnum.PlayerProfile)){
                    $("#Palyer_Div").css('display', '');
               }

                 else if(value == @((int)LogicEnumData.NotificationOpenTypeEnum.MatchProfile)){
                    $("#Match_Div").css('display', '');
               }
                else if (value == @((int)LogicEnumData.NotificationOpenTypeEnum.News)) {
                    $("#News_Div").css('display', '');
                }
            });
            $("#Fk_News").on('change', function () {
                $("#OpenValue").val($("#Fk_News").val())
            });

            $("#Fk_GameWeak").on('change', function () {
                $("#OpenValue").val($("#Fk_GameWeak").val())
            });

            $("#Fk_TeamGameWeak").on('change', function () {
                $("#OpenValue").val($("#Fk_TeamGameWeak").val())
            });

            $("#Fk_Player").on('change', function () {
                $("#OpenValue").val($("#Fk_Player").val())
            });

            $("#Fk_Team_Player").on('change', function () {
                getPlayers($("#Fk_Player"), $(this).val(), false);
            });

            $("#Fk_Team_Match").on('change', function () {
                getTeamGameWeak($("#Fk_TeamGameWeak"), $("#Fk_Team_Match").val(), $("#Fk_GameWeak_Match").val(), false);
            });

            $("#Fk_GameWeak_Match").on('change', function () {
                getTeamGameWeak($("#Fk_TeamGameWeak"), $("#Fk_Team_Match").val(), $("#Fk_GameWeak_Match").val(), false);
            });

        });

    </script>
}