@model PlayerDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var playerPrice = new PlayerPriceDto();
    ViewBag.emptyLayout = true;
}

<div class="card">
    <div class="card-body">
      
        <div class="row">

            <div class="col-xl-6 col-12">
                <dl class="row mb-0">

                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.ShortName):</dt>
                    <dd class="col-sm-8 mb-1">@Model.ShortName</dd>

                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Age):</dt>
                    <dd class="col-sm-8 mb-1">@Model.Age</dd>

                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.BuyPrice):</dt>
                    <dd class="col-sm-8 mb-1">@Model.BuyPrice</dd>
                </dl>
            </div>
            <div class="col-xl-6 col-12">
                <dl class="row mb-0">



                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model._365_PlayerId):</dt>
                    <dd class="col-sm-8 mb-1">@Model._365_PlayerId</dd>

                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.PlayerNumber):</dt>
                    <dd class="col-sm-8 mb-1">@Model.PlayerNumber</dd>

                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.SellPrice):</dt>
                    <dd class="col-sm-8 mb-1">@Model.SellPrice</dd>

                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.Team):</dt>
                    <dd class="col-sm-8 mb-1">
                        <a href="/TeamEntity/Team/Profile/@Model.Fk_Team" target="_blank">@Model.Team.Name</a>
                    </dd>

                </dl>
            </div>
        </div>
        
        <hr/>
        
        <div class="card-body">
            <a class="btn btn-primary update_account_team_points">@Localizer.Get("UpdateAccountTeamPoints")</a>
            <hr/>
            <div class="d-flex justify-content-between align-items-start">
                <span class="badge bg-light-primary">@Html.DisplayNameFor(model => Model.PlayerPrices)</span>
            </div>
            <br/>

            @if (Model.PlayerPrices != null && Model.PlayerPrices.Any())
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => playerPrice.Team)</th>
                        <th>@Html.DisplayNameFor(model => playerPrice.BuyPrice)</th>
                        <th>@Html.DisplayNameFor(model => playerPrice.SellPrice)</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.PlayerPrices)
                    {
                        <tr>
                            <td>
                                <a href="/TeamEntity/Team/Profile/@item.Fk_Team" target="_blank">@item.Team.Name</a>
                            </td>
                            <td>@item.BuyPrice</td>
                            <td>@item.SellPrice</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>@Localizer.Get("Not Found")</p>

            }
        </div>
        <hr />
        
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-start">
                <span class="badge bg-light-primary">@Html.DisplayNameFor(model => Model.SeasonScoreStates)</span>
            </div>
            <br />
        
            @if (Model.SeasonScoreStates != null && Model.SeasonScoreStates.Any())
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>@Localizer.Get("Season")</th>
                        <th>@Localizer.Get("ScoreState")</th>
                        <th>@Localizer.Get("Point")</th>
                        <th>@Localizer.Get("Value")</th>
                        <th>@Localizer.Get("Percent")</th>
                        <th>@Localizer.Get("Top15")</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.SeasonScoreStates)
                    {
                        <tr>
                            <td>@item.Season.Name</td>
                            <td>@item.ScoreState.Name</td>
                            <td>@item.Points</td>
                            <td>@item.Value</td>
                            <td>@item.Percent</td>
                            <td>@item.Top15</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>@Localizer.Get("Not Found")</p>
        
            }
        </div>
        
        <hr/>
        <div class="row">
            <div class="col-xl-6 col-12">
                <dl class="row mb-0">
                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedAt):</dt>
                    <dd class="col-sm-8 mb-1">@Model.CreatedAt</dd>

                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedAt):</dt>
                    <dd class="col-sm-8 mb-1">@Model.LastModifiedAt</dd>


                   
                </dl>
            </div>
            <div class="col-xl-6 col-12">
                <dl class="row mb-0">
                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.CreatedBy):</dt>
                    <dd class="col-sm-8 mb-1">@Model.CreatedBy</dd>

                    <dt class="col-sm-4 fw-bolder mb-1">@Html.DisplayNameFor(model => model.LastModifiedBy):</dt>
                    <dd class="col-sm-8 mb-1">@Model.LastModifiedBy</dd>
                </dl>
            </div>
        </div>
      
    </div>
</div>

<partial name="_PlayerModals" view-data="ViewData" />

@section scripts
{
    <script>
        // start update_account_team_points
        $(document).on("click", ".update_account_team_points", function(e) {
          e.preventDefault();
          
          $(".update_account_team_points_modal").modal('show');
        });
        
        $(document).on("click", ".update_account_team_points_submit", function (e) {
            $.ajax({
                url: '@Url.Action("UpdateAccountTeamPoints", "Home", new {area = "Dashboard"})',
                method: 'post',
                data: {
                  fk_Player: '@Model.Id',
                  fk_GameWeak: $('select[name=Fk_GameWeak]').val()
                },
                success: function(data) {
                  $("#success").modal('show');
                }
            }); 
        });
        // end update_account_team_points
    </script>
}
